<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <a class="skip-link" href="#main">Skip to main</a>
    <main id="main">
      <div class="content">
        {{ partial "header.html" . }}
        <section class="hero">
          {{ .Content }}
        </section>
        {{ if gt (len ( where .Site.RegularPages "Section" "posts" )) 0 }}
        <section class="latest-posts">
          <h2>最新的文章</h2>
          <ul class="posts-list">
            {{ range (first 5 (where .Site.RegularPages "Section" "posts" ).ByDate.Reverse) }}
            <li>
              <time class="g time" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
          </ul>
        </section>
        {{ end }}
      </div>
      <div id="clustrmap-container">
        <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=222&t=n&d=yu1BCrXIaVGmxEQICfWKHiREO7LqhQYMwkHOmgd6gLo'></script>
      </div>
    </main>
  </body>
</html>
